GHCR_USERNAME=your-github-username

POSTGRES_USER=wordify_user
POSTGRES_PASSWORD=change_me
POSTGRES_DB=wordify
POSTGRES_PORT=5433

APP_PORT=8081

OLLAMA_API_BASE_URL=https://ollama.com
OLLAMA_API_CHAT_PATH=/api/chat
OLLAMA_API_MODEL=gpt-oss:120b
OLLAMA_API_THINK=low
OLLAMA_API_AUTH_TOKEN=your-ollama-bearer-token
OLLAMA_API_COOKIE=
